* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #303030;
    line-height: 2;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1rem;
    text-align: center;
}

header {
    padding-top: 3rem;
}

main {
    flex-grow: 1;
}

footer {
    padding: 1rem 0;
}

main>p {
    margin-top: 1rem;
    color: #606060;
    text-align: center;
}

main ul {
    padding-top: 2rem;
}

main>ul>li {
    color: #606060;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 1rem;
    padding: 1rem;
    cursor: pointer;
}

footer p {
    color: #909090;
}